<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method='POST' action='/figures'>
      <label> Figure Name: </label>
      <br />
      <input type='text' name='figure[name]' id='figure_name'>
      <br />
      <label>Choose an existing Landmark</label>
      <br />
      <% Landmark.all.each do |landmark| %>
      <input type='checkbox' name='figure[landmark_ids][]' id='landmark_<%=landmark.id %>' value='<%=landmark.id%>'><%=landmark.name%></input>
      <%end%>
      <label>and/or create a new landmark:</label>
      <br />
      <label>name:</label>
      <input type='text' name='landmark[name]' id='new_landmark'>
      <br />

      <% Title.all.each do |title| %>
      <input type='checkbox' name='figure[title_ids][]' id='title_<%=title.id %>' value='<%=title.id%>'><%=title.name%></input>
      <%end%>
      <label>and/or create a new title:</label>
      <br />
      <label>name:</label>
      <input type='text' name='title[name]' id='new_title'>
      <br />
      <input type='submit' value='Create New Figure'>


    </form>
  </body>
</html>
